#contato {
  padding: 80px 8%;
  text-align: center;
  min-height: 100vh;
  color: var(--text);
}

#contato h2 {
  padding-bottom: 20px;
}

.cards-container {
    display: flex;

    justify-content: center;
    align-items: stretch;

    gap: 30px;

    flex-wrap: wrap;

    margin:0 auto;

    /* padding-top: 60px; */
}

.card {
    background-color: var(--card-background);

    width: 280px;

    /* padding: 30px; */
    padding-top: 30px;
    margin-bottom: 0px;

    border-radius: 20px;

    text-align: center;

    transition: 0.3s;

    max-height: 50vh;
}

.card:hover {
    transform: translateY(-10px);
}

.icon {
    font-size: 3rem;

    /* padding-bottom: 20px; */
}

.card h3 {
    padding-bottom: 15px;

    font-size: 1.5rem;
}

.card img {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
}

.social-icons img {
    border-radius: 15%;
    transition: transform 0.3s ease;
}